
.name{

  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  background-color: lightcoral;
  color: white;
  font-size: 24px;
  text-transform: capitalize;
  border: none;
}